<app-nav></app-nav>


<main  class="cs-page-wrapper">
    <!-- Promo bar -->
    <section class="cs-promo-bar" style="background-color: #17696A; height: 30px;">
      <div class="container d-flex justify-content-center">
        <div class="cs-carousel cs-controls-inverse">
          <div class="cs-carousel-inner" data-carousel-options = '{"mode": "gallery", "nav": false}'>
            <div class="font-size-xs text-light px-2">
              <strong class="mr-1">Up to 70% Off.</strong>
              <a href="#" class="text-light">Shop our latest sale offers</a>
            </div>
            <div class="font-size-xs text-light px-2">
              <strong class="mr-1">Money back guarantee.</strong>
              <a href="#" class="text-light">Learn more</a>
            </div>
            <div class="font-size-xs text-light px-2">
              <strong class="mr-1">Friendly customer support.</strong>
              <a href="#" class="text-light">Contact 24/7</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section class="container pt-3 pt-md-4 pb-3 pb-sm-4 pb-lg-5 mb-4">
      <div class="row">
          <div class="col-lg-6">
              <div class="px-md-5">
                  <h3 class="modal-title mt-4 mb-0 text-center">Iniciar Sesión</h3>
                  <p class="font-size-sm text-muted text-center">Sign in to your account using email and password provided during registration.</p>
                  <form>
                    <div class="form-group">
                      <label for="signin-email">Email</label>
                      <input type="email" class="form-control" id="login-input" placeholder="Your email address" required="" name="email" [(ngModel)]="user.email">
                    </div>
                    <div class="form-group">
                      <label for="signin-password" class="form-label">Password</label>
                      <div class="cs-password-toggle input-group-overlay">
                        <input type="password" class="form-control appended-form-control" id="login-input" placeholder="Your password" required="" name="password" [(ngModel)]="user.password">
                        <div class="input-group-append-overlay">
                          <label class="btn cs-password-toggle-btn input-group-text">
                            <input type="checkbox" class="custom-control-input">
                            <i class="cxi-eye cs-password-toggle-indicator"></i>
                            <span class="sr-only">Show password</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center form-group">
                      <a href="#" class="font-size-sm text-decoration-none">Olvido su contraseña?</a>
                    </div>
                    <button type="submit" class="btn btn-lg btn-block" style="background-color: #17696A;border-radius: 0.25rem; border: #17696A; padding: 9px; color: white;" (click)="login()">Iniciar sesión</button>
                    <p class="font-size-sm pt-4 mb-0">
                      No tienes una cuenta?
                      <a href="#" class="font-weight-bold text-decoration-none">Registrate</a>
                    </p>
                  </form>
                </div>
          </div>
          <div class="col-lg-6">
              <div class="px-md-5">
                  <h3 class="modal-title mt-4 mb-0 text-center">Registro rápido</h3>
                  <p class="font-size-sm text-muted text-center">Sign in to your account using email and password provided during registration.</p>
                  <form >
                      <div class="form-group">
                          <div class="row">
                              <div class="col-lg-6">
                                  <label for="signin-email">Nombres completos</label>
                                  <input type="email" class="form-control" id="login-input"  placeholder="Names" name="nombres" [(ngModel)]="usuario_register.nombres">
                              </div>
                              <div class="col-lg-6">
                                  <label for="signin-email">Apellidos completos</label>
                                  <input type="email" class="form-control" id="login-input"  placeholder="Fullname" required="" name="apellidos" [(ngModel)]="usuario_register.apellidos">
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="signin-email">Email</label>
                          <input type="email" class="form-control" id="login-input" placeholder="Your email address" name="email" [(ngModel)]="usuario_register.email">
                      </div>
                      <div class="form-group">
                          <label for="signin-password" class="form-label">Password</label>
                          <div class="cs-password-toggle input-group-overlay">
                          <input type="password" class="form-control appended-form-control" id="login-input" placeholder="Your password" name="password" [(ngModel)]="usuario_register.password">
                          <div class="input-group-append-overlay">
                              <label class="btn cs-password-toggle-btn input-group-text">
                              <input type="checkbox" class="custom-control-input">
                              <i class="cxi-eye cs-password-toggle-indicator"></i>
                              <span class="sr-only">Show password</span>
                              </label>
                          </div>
                          </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center form-group">
                          <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="remember-me" checked="">
                          <label for="remember-me" class="custom-control-label">Remember me</label>
                          </div>
                          <a href="#" class="font-size-sm text-decoration-none">Forgot password?</a>
                      </div>
                      <button type="submit" class="btn btn-lg btn-block" (click)="register()"  style="background-color: #17696A;border-radius: 0.25rem; border: #17696A; padding: 8px; color: white;">Registrarme</button>

                  </form>
                </div>
          </div>
      </div>
  </section>

</main>



<app-footer></app-footer>
