#buscador_nav {
  padding-left: 0.75rem;
  border-radius: 0.25rem;
  background: #f8f9fa;
  box-shadow: 0 0 0 0 rgba(78, 76, 76, 0);
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}
#buscador_nav:focus {
  border: 1px solid #44a0a1;
  -webkit-box-shadow: 5px 18px 12px -10px rgba(237, 232, 237, 1);
  -moz-box-shadow: 5px 18px 12px -10px rgba(237, 232, 237, 1);
  box-shadow: 5px 18px 12px -10px rgba(237, 232, 237, 1);
}

#buscador_nav::placeholder {
  font-size: 13px;
  color: #9a9ca5;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #44a0a1 !important;
  text-decoration: none;
  background-color: #44a0a1 !important;
}

#nav_cantidad:focus {
  border: 1px solid #44a0a1;
  -webkit-box-shadow: 5px 18px 12px -10px rgba(237, 232, 237, 1);
  -moz-box-shadow: 5px 18px 12px -10px rgba(237, 232, 237, 1);
  box-shadow: 5px 18px 12px -10px rgba(237, 232, 237, 1);
}

#mover_ala_lista_de_deseo {
  color: black;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
#mover_ala_lista_de_deseo:hover {
  color: #44a0a1;
}

#see_offers {
  font-size: 12px;
  padding-inline: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #31a0a1;
  color: #1b7b7c;
  font-weight: 500;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#see_offers:hover {
  background: #17696a;
  color: white;
  border: 1px solid #17696a;
}

:host ::ng-deep .dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-color: var(--bs-body-color);
  --bs-dropdown-bg: var(--bs-body-bg);
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: var(--bs-border-radius);
  --bs-dropdown-border-width: var(--bs-border-width);
  --bs-dropdown-inner-border-radius: calc(
    var(--bs-border-radius) - var(--bs-border-width)
  );
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: var(--bs-box-shadow);
  --bs-dropdown-link-color: var(--bs-body-color);
  --bs-dropdown-link-hover-color: var(--bs-body-color);
  --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
  --bs-dropdown-link-active-color: #fff !important;
  --bs-dropdown-link-active-bg: #44a0a1;
  --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-header-color: #ffffff;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: var(--bs-dropdown-min-width);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: var(--bs-dropdown-border-radius);
}

:host ::ng-deep .dropdown-menu {
  border: var(--bs-dropdown-border-width) solid #dfdfe2;
}




@media (max-width: 767px) {
  .navbar-toggler {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .navbar-toggler-icon {
    background-color: black !important;
    width: 22px !important;
    height: 2px !important;
    border-radius: 0.25rem !important;
  }
  .navbar {
    padding: 12px;
  }
}
